<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
  <a style="color: white;" class="navbar-brand" href="#">IVAA HOSPITAL</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      <li class="nav-item">
        <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-appointment">Add Appointment</a>
      </li>

      <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/admin">Back</a>
        </li>

      
      
    </ul>

    <div class="mx-2">
      
      <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a></button>
      
  </div>
    
  </div>

</nav>

<div class="container">
<hr>
  <h2 style="text-align: center;margin-top: 20PX;">Appointment Dashboard</h2>
  <a style="color: rgb(86, 86, 86); font-size: x-large;"><marquee behavior="scroll" direction="left">
  Welcome to  Appointment Dashboard. Please find the  Appointment list below!!. Click Appointments to view and update Appointments, Click Add Appointment to add new Appointment</marquee></a>
<hr>
<br>
  <a style="color: rgb(86, 86, 86); font-size: xx-large;">Current Patient List in the Queue</a>

  <div class="tableFixHead">
<table class="table table-striped">
  <thead>
     <th>AppointmentId</th>
     <th> name</th>
     <th>phoneNumber </th>
     <th>symptoms</th>
     <th>Action</th>
  </thead>
  <tbody>
   <tr *ngFor="let appointment of  appointments">
    <td>{{appointment.appointmentId}}</td>
    <td>{{appointment.name}}</td>
    <td>{{appointment.phoneNumber}}</td>
    <td>{{appointment.symptoms}}</td>
    <td>
    <button (click)="delete(appointment.appointmentId)" class="btn btn-danger">Delete</button>
    </td>

   </tr>
    
  </tbody>   
</table>
</div>