  
  
  <nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">IVAA HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/docdash">Back</a>
          </li>
  
        
        
      </ul>
  
      <div class="mx-2">
        
        <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a></button>
        
    </div>
      
    </div>
  
  </nav>
  
  
  <div class="container">
 <h2 class="text-center">Add New Patient</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>patientName</label>
        <input 
          type="text" 
          name="name" 
          id="patientName" 
          class="form-control" 
          placeholder="Enter Patientname" 
          [(ngModel)]="patient.patientName">
      </div>

      <div class="form-group">
        <label>blood</label>
        <input 
          type="text" 
          name="blood" 
          id="blood" 
          class="form-control" 
          placeholder="Enter blood group" 
          [(ngModel)]="patient.blood">
      </div>
      <div class="form-group">
        <label>dose</label>
        <input 
         id="dose" 
          class="form-control" 
          placeholder="Enter dose" 
          [(ngModel)]="patient.dose">
      </div>
      <div class="form-group">
        <label>fees</label>
        <input 
          type="text" 
          name="fees" 
          id="fees" 
          class="form-control" 
          placeholder="Enter fees" 
          [(ngModel)]="patient.fees">
      </div>

      <div class="form-group">
        <label>Urgency</label>
        <input 
          type="text" 
          name="urgency" 
          id="urgency" 
          class="form-control" 
          placeholder="Enter urgency" 
          [(ngModel)]="patient.urgency">
      </div>
      <div class="form-group">
        <label>prisciption</label>
        <input 
          type="text" 
          name="prisciption" 
          id="prisciption" 
          class="form-control" 
          placeholder="Enter prisciption" 
          [(ngModel)]="patient.prisciption">
      </div>   
       
      <br>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>

  </div>
