
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
  <a style="color: white;" class="navbar-brand" href="#">IVAA HOSPITAL</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      

      <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/appointmentlist">Back</a>
        </li>

      
      
    </ul>

    <div class="mx-2">
      
      <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a></button>
      
  </div>
    
  </div>

</nav>
<br>
 <div class="container">
   <h2 class="text-center">Add New Appointment</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">AppointmentId</label>
      <input 
        type="text" 
        name="name" 
        id="appointmentId" 
        class="form-control" 
        placeholder="Enter your Appointmentid" 
        [(ngModel)]="appointment.appointmentId">
    </div>


    <div class="form-group">
      <label for="name">Name</label>
      <input 
        type="text" 
        name="name" 
        id="name" 
        class="form-control" 
        placeholder="Enter your name" 
        [(ngModel)]="appointment.name">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input 
        type="text" 
        name="phoneNumber" 
        id="phoneNumber" 
        class="form-control" 
        placeholder="Enter your phone number" 
        [(ngModel)]="appointment.phoneNumber">
    </div>
    <div class="form-group">
      <label for="symptoms">Symptoms</label>
      <input 
        type="text" 
        name="symptoms" 
        id="symptoms" 
        class="form-control" 
        placeholder="Enter your symptoms" 
        [(ngModel)]="appointment.symptoms">
    </div>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>


</div>
