<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> home page layout</title>
    <link rel="stylesheet" href="home.component.css">
    
</head>
<body>
   <nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
      <a style="color: white;" class="navbar-brand" href="#">IVAA HOSPITAL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/appointmentlist">Appointments</a>
            </li>
        </ul>
        
  
        <div class="mx-2">
        <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/docdash">Login as Docotor</a></button>
        </div>
        <div class="mx-2">
          <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/admin">Login as Admin</a></button>
        </div>
      </div>
    
    </nav>
   <br>
<div class="container">
  <div class="box" id ="header">
  <div class="text"><h1> Welcome to Hospital</h1></div>
  <img src="assets/doctors2.jpg" alt="doctors image" height="500px"width="100%">
  <div class="button">
  <button type="button" class="btn btn-secondary" id="btn1" style="margin-left:10px;">
     100+healing hand
  </button>
  <button type="button" class="btn btn-success" id="btn2" style="margin-left:10px;">
     24 HoursOpen
  </button>
  <button type="button" class="btn btn-danger" id="btn3" style="margin-left:10px;">24 Hours Open</button>
</div>
   </div>
   <div class="box" id ="content">
      <div class="box" id="boxA">
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/hospital image 3.jpeg" class="img-fluid rounded-start" alt="hospitalmanagement">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div> 
      </div>
      <div class="box" id="boxA">
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/hospital image.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="box" id="boxA">
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/hospital image2.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="box" id="boxA">
         <div class="card mb-3" style="max-width: 540px;"> 
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/hospital image4.jpg" class="img-fluid rounded-start" alt="hospital">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>

   </div>  
<div class="box" id ="footer"><b>Contact us:<pre>+9134256577</pre></b></div>
 </div>
    
</body>
</html>
