<div class="container">
<h2 class="text-center">Update Medicine</h2>
<form (ngSubmit)="onSubmit()">
<div class="form-group">
<label>MedicineId</label>
<input 
 type="text" 
name="id" 
id="MedicineId" 
class="form-control" 
placeholder="Enter MedicineId" 
[(ngModel)]="medicines.medicineId">
</div>
 <div class="form-group">
<label>Drugname</label>
<input 
type="text" 
name="drugname" 
id="drugname" 
class="form-control" 
placeholder="Enter drugname" 
[(ngModel)]="medicines.drugName">
</div>
<div class="form-group">
<label>Stock</label>
<input 
 type="text" 
name="stock" 
id="stock" 
class="form-control" 
placeholder="Enter Stock" 
[(ngModel)]="medicines.stock">
</div>
<br>
<button type="submit" class="btn btn-success">Submit</button>

</form>
</div>
