
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
    <a style="color: white;" class="navbar-brand" href="#">IVAA HOSPITAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/docdash">Back</a>
          </li>
      </ul>
  
      <div class="mx-2">
        
        <button style="margin: 5px;"class="btn btn-danger" data-toggle="modal" data-target="#loginModal"><a style="color:white;" href="javascript:void(0);" routerLink="/home">Logout</a></button>
        
    </div>
      
    </div>
  </nav>
<div class="container">
<form>
 <h2>Patient Details</h2>
 
<div class="box">
<label>Patientid:<b>{{patient.patientId}}</b></label>
</div>
<br>
<div class="box">
<label>Patientname:<b>{{patient.patientName}}</b></label>
</div>
<br>
<div class="box">
<label>Bloodtype:<b>{{patient.blood}}</b></label>
</div>
<br>
<div class="box">
<label>Urgency:<b>{{patient.urgency}}</b></label>
</div>
<br>
<div class="box">
<label>Fees:<b>{{patient.fees}}</b></label>
</div>
<br>
<div class="box">
<label>Dose:<b>{{patient.dose}}</b></label>
</div>
<br>
<div class="box">
<label>Prescription:<b>{{patient.prisciption}}</b></label> 
</div>
</form>
</div>
